body {
	font-family: arial;
}

table {
	border: solid black 1px;
}

td {
	padding-left: 1em;
	padding-right: 1em;
	vertical-align: top;
}

tr {
	font-size: 0.7em;
	border-bottom: solid black 1px;
}

tr.Failed {
	background: #ffe9d0;
	font-weight: bold;
}

.header {
	font-size: 1em;
	font-variant: small-caps;
	background: #cbfbca;
}

.details {
	cursor: pointer;
}

tr:nth-child(odd) {background: #CCC}
tr:nth-child(even) {background: #FFF}

.visible {
	display: block;
}

.invisible {
	display: none;
}


