body {
	font-family: arial;
}

table {
	border: solid black 1px;
}

td {
	padding-left: 1em;
	padding-right: 1em;
	vertical-align: top;
	white-space: nowrap
}

tr {
	font-size: 0.7em;
	border-bottom: solid black 1px;
}

tr.Failed {
	background: #ffe9d0;
	font-weight: bold;
}

.header {
	font-size: 1em;
	font-variant: small-caps;
	background: #cbfbca;
}

.monitoring-header {
	font-size: 1em;
	font-variant: small-caps;
	background: #e8b9f4;
}
.details {
	cursor: pointer;
}

tr:nth-child(odd) {background: black}
tr:nth-child(even) {background: red}

.visible {
	display: block;
}

.wrap {
 white-space: normal;
}


.invisible {
	display: none;
}

.ms {
	font-size: 0.5em;
}




